#bigContainer {
  position: fixed;
  top: 0%;
  transition: all 0.5s;
  width: 900px;
  height: 100vh;
  box-sizing: border-box;
  padding: 16px;
  background: cornflowerblue;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
#bigContainer::-webkit-scrollbar {
  display: block;
  width: 5px;
}
#bigContainer::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
#bigContainer::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
#bigContainer::-webkit-scrollbar-thumb:active {
  background: gray;
}
#smallContainer {
  display: grid;
  color: aliceblue;
  justify-content: center;
  grid-template-columns: 360px 360px;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 20px;
}
#titleWrapper {
  display: flex;
  position: relative;
  top: -6px;
  left: 4px;
  font-size: 18px;
}
#closeButton {
  color: white;
  cursor: pointer;
}
#closeButton:hover {
  color: black;
}
#searchButton {
  color: white;
  cursor: pointer;
}
#searchDisabled {
  color: gray;
  cursor: default;
}
#doneButton {
  color: white;
  cursor: pointer;
}
#doneDisabled {
  color: gray;
  cursor: default;
}
#selected {
  background: darkcyan;
  border-radius: 10px;
}
#bigContainer input[type="text"] {
  width: 500px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  margin-top: 30px;
}
.radioContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.radio input {
  display: none;
}
.radio label {
  display: flex;
  background: gainsboro;
  width: 120px;
  height: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.radio #Song {
  border: 1px solid black;
  border-right: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.radio #Inst {
  border: 1px solid black;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.radio input:checked + label {
  background: darkcyan;
}
#noneWrapper {
  position: absolute;
  top: 176px;
  left: 192px;
  width: 500px;
  display: flex;
}
.recommendContainer {
  display: flex;
  justify-content: center;
}
.recommend {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
#undefinedVideo {
  width: 320px;
  height: 180px;
  border-radius: 10px;
  transform: translate(20px, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: lavenderblush;
  color: black;
}
