#bigContainer {
  display: grid;
  color: aliceblue;
  justify-content: center;
  grid-template-columns: 360px 360px;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
}
#search {
  color: white;
  cursor: pointer;
}

#selected {
  background: darkcyan;
}
input[type="text"] {
  width: 500px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
}
