#alert {
  position: fixed;
  background: skyblue;
  color: white;
  font-size: 16px;
  bottom: 2vh;
  right: 1vw;
  z-index: 30;
  width: 240px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
