#alert {
  display: flex;
  align-items: center;
  position: fixed;
  background: black;
  color: white;
  font-size: 14px;
  bottom: 2vh;
  right: 1vw;
  z-index: 30;
  height: 40px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  text-align: left;
}
#closeButton {
  cursor: pointer;
  color: red;
  font-size: 18px;
}
#sentence {
  padding-left: 3px;
  padding-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notShowing {
  transition: all 1.2s;
  visibility: hidden;
  opacity: 0;
}
.showing {
  transition: all 0.2s;
  opacity: 0.8;
}
