#musicInfo {
  position: fixed;
  top: 0%;
  transition: all 0.5s;
  width: 900px;
  height: 100vh;
  box-sizing: border-box;
  z-index: 20;
  background: white;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.notHidden {
  opacity: 1;
}
#musicInfo::-webkit-scrollbar {
  width: 5px;
}
#musicInfo::-webkit-scrollbar-track {
  background-color: white;
}
#musicInfo::-webkit-scrollbar-thumb {
  background: darkgray;
}
#musicInfo::-webkit-scrollbar-thumb:hover {
  background: gray;
}
#musicInfo::-webkit-scrollbar-thumb:active {
  background: black;
}
#musicInfo::-webkit-scrollbar-button {
  display: none;
}
#closeButton {
  color: black;
  cursor: pointer;
}
