#musicInfo {
  position: fixed;
  top: 0%;
  width: 900px;
  height: 100vh;
  box-sizing: border-box;
  background: lavender;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}
.lowZ {
  z-index: 20;
}
.highZ {
  z-index: 21;
}
#imgHidden {
  opacity: 0;
}
#musicInfo::-webkit-scrollbar {
  width: 5px;
  display: block;
}
#musicInfo::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 10px;
}
#musicInfo::-webkit-scrollbar-thumb:hover {
  background: gray;
}
#musicInfo::-webkit-scrollbar-thumb:active {
  background: black;
}
#pageTitle {
  display: flex;
  position: relative;
  left: 20px;
  top: 10px;
  font-size: 18px;
}
#info {
  position: relative;
  top: 50px;
}
#backButton {
  cursor: pointer;
}
#backButton:hover {
  color: darkviolet;
}
#gridContainer {
  position: relative;
  left: 100px;
  display: grid;
  grid-template-columns: 500px 200px;
  grid-template-rows: 40px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#title {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  font-size: 26px;
}
#artist {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: left;
  font-size: 18px;
}
#buttons {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#buttons span {
  cursor: pointer;
  font-size: 30px;
}
#addToDiv {
  height: 30px;
}
#addToButtonBlack {
  color: black;
}
#addToButtonBlue {
  color: blue;
}
.detail {
  position: relative;
  left: 100px;
  width: 700px;
  text-align: left;
}
#category {
  position: relative;
  left: 100px;
  background: violet;
  border-radius: 5px;
  width: 3rem;
}
#tagContainer {
  line-height: 200%;
}
.tag {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  background: pink;
  border-radius: 5px;
}
#wrapper {
  position: relative;
}
#results {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  left: 0px;
  top: 0px;
  border: 4px solid lightskyblue;
  border-radius: 10px;
  background: lavender;
  overflow: auto;
}
.result {
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid lightskyblue;
  font-size: 18px;
}
