#playlistInfo {
  position: fixed;
  top: 0%;
  transition: all 0.5s;
  width: 900px;
  height: 100vh;
  box-sizing: border-box;
  z-index: 20;
  background: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.notHidden {
  opacity: 1;
}
#closeButton {
  color: black;
  cursor: pointer;
}
