#playlists {
  background: thistle;
  height: calc(100vh - 288px);
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}
#playlists::-webkit-scrollbar {
  width: 9px;
  display: block;
}
#playlists::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
#playlists::-webkit-scrollbar-thumb:hover {
  background: gray;
  background-clip: padding-box;
  border: 3px solid transparent;
}
#playlists::-webkit-scrollbar-thumb:active {
  background: black;
  background-clip: padding-box;
  border: 3px solid transparent;
}
#addDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 28px;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 60px;
  margin-bottom: 6px;
  cursor: pointer;
}
#addDiv:hover {
  color: white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
#inputDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 6px;
  margin-left: 18px;
  margin-right: 20px;
  height: 28px;
}
#newTitleInput {
  width: 189px;
  height: 25px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
#doneButtonDiv {
  display: flex;
  justify-content: center;
  width: 30px;
}
#doneButton {
  cursor: pointer;
  color: aliceblue;
}
#doneDisabled {
  color: gray;
}
#cancelButtonDiv {
  display: flex;
  justify-content: center;
  width: 30px;
}
#cancelButton {
  cursor: pointer;
  color: aliceblue;
}
.playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid darkgray;
  font-size: 14px;
}
#viewing {
  background: darkgray;
  margin-left: 12px;
  padding-left: 8px;
  margin-right: 12px;
  padding-right: 8px;
  border-radius: 8px;
}
#listTitleDiv {
  display: flex;
  align-items: center;
  width: 147px;
}
#listTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  cursor: pointer;
}
.titleShort {
  width: 120px;
}
.titleLong {
  width: 147px;
}
#playingMotion {
  width: 27px;
}
#countDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
}
#playButtonDiv {
  display: flex;
  justify-content: center;
  width: 30px;
}
#playButton {
  cursor: pointer;
}
#playDisabled {
  color: gray;
}
#shuffleButtonDiv {
  display: flex;
  justify-content: center;
  width: 30px;
}
#repeatButton {
  cursor: pointer;
}
#repeatButton:hover {
  color: blue;
}
#repeatActive {
  cursor: pointer;
  color: blue;
}
#shuffleButton {
  cursor: pointer;
}
#shuffleButton:hover {
  color: blue;
}
#shuffleActive {
  cursor: pointer;
  color: blue;
}
#shuffleDisabled {
  color: gray;
}
#playlistResult {
  margin-bottom: 20px;
}
