#playlistInfo {
  top: 0%;
  width: 900px;
  height: calc(100vh - 12px);
  box-sizing: border-box;
  z-index: 20;
  background: lightcyan;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}
#playlistInfo::-webkit-scrollbar {
  display: block;
  width: 13px;
}
#playlistInfo::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
#playlistInfo::-webkit-scrollbar-thumb:hover {
  background: gray;
  background-clip: padding-box;
  border: 4px solid transparent;
}
#playlistInfo::-webkit-scrollbar-thumb:active {
  background: black;
  background-clip: padding-box;
  border: 4px solid transparent;
}
#titleWrapper {
  display: flex;
  position: relative;
  left: 20px;
  top: 20px;
  font-size: 18px;
  width: 500px;
}
#backButton {
  cursor: pointer;
}
#backButton:hover {
  color: darkviolet;
}
#infoWrapper {
  position: relative;
  left: 59px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 782px;
  margin-top: 50px;
}
#playlistTitle {
  display: flex;
  align-items: center;
  width: 500px;
  font-size: 24px;
}
#playingMotion {
  display: flex;
  justify-content: flex-start;
  width: 32px;
}
#removeWrapper {
  display: flex;
  width: 32px;
  justify-content: flex-start;
}
#removeButton {
  cursor: pointer;
}
#editWrapper {
  display: flex;
  width: 32px;
  justify-content: flex-end;
}
#editButton {
  cursor: pointer;
}
#doneButton {
  cursor: pointer;
}
#doneDisabled {
  color: gray;
}
#cancelButton {
  cursor: pointer;
}
#titleInput {
  height: 26px;
  font-size: 20px;
}
#doneCloseWrapper {
  display: flex;
  align-items: center;
}
#playlistResults {
  position: relative;
  margin-top: 10px;
  left: 45px;
  background: wheat;
  width: 810px;
  padding-bottom: 14px;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 45px;
}
#flexContainer {
  position: sticky;
  top: 0;
  transform: translate(14px, 0);
  display: flex;
  align-items: center;
  width: 772px;
  height: 30px;
  padding-left: 10px;
  background: bisque;
  margin-bottom: 10px;
  z-index: 30;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
#selectDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  cursor: pointer;
}
#selectDiv:hover {
  color: blue !important;
}
#titleDiv {
  width: 240px;
}
#artistDiv {
  width: 240px;
}
#infoDiv {
  width: 90px;
}
#playDiv {
  width: 90px;
}
#selectedMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 5px;
  bottom: 30px;
  transform: translate(400px, 0%);
  background: cornflowerblue;
}
#selectedLength {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  left: 35px;
  top: -21px;
  color: white;
  font-size: 18px;
  background: blue;
}
#addToButtonWhite {
  font-size: 50px;
  color: white;
  cursor: pointer;
}
#addToButtonWhite:hover {
  font-size: 50px;
  color: black;
}
#addToButtonBlack {
  font-size: 50px;
  color: black;
}
#deleteButton {
  font-size: 50px;
  color: white;
  cursor: pointer;
}
#deleteButton:hover {
  font-size: 50px;
  color: black;
}
#wrapper {
  position: relative;
}
#results {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  left: 50px;
  bottom: 0px;
  border: 4px solid lightskyblue;
  border-radius: 10px;
  background: lavender;
  overflow: auto;
}
.result {
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid lightskyblue;
  font-size: 18px;
}
#emptyArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
