#player {
  background: #e6ceff;
  height: 270px;
  border-radius: 6px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}
#titleWrapper {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
}
#title {
  color: darkblue;
  cursor: pointer;
  margin-top: 4px;
}
#artist {
  font-size: 14px;
  margin-bottom: 4px;
}
#thumbnail {
  height: 124px;
}
#img {
  position: relative;
  top: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
#emptyThumbnail {
  position: relative;
  top: 12px;
  margin-left: 54px;
  width: 192px;
  height: 108px;
  background: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
#buttons {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: space-between;
}
#buttons span {
  font-size: 40px;
  cursor: pointer;
}
#loopButton:hover {
  color: blue;
}
#loopActive {
  color: blue;
}
#loopDisabled {
  color: gray;
  cursor: default !important;
}
#prevButton:hover {
  color: blue;
}
#prevDisabled {
  color: gray;
  cursor: default !important;
}
#nextButton:hover {
  color: blue;
}
#nextDisabled {
  color: gray;
  cursor: default !important;
}
#playPauseButton:hover {
  color: blue;
}
#playDisabled {
  color: gray;
  cursor: default !important;
}
#playlistButton:hover {
  color: blue;
}
#playlistDisabled {
  color: gray;
  cursor: default !important;
}
#volumeWrapper {
  display: flex;
  align-items: center;
}
#volumeButton {
  font-size: 24px;
  cursor: pointer;
  margin-right: 6px;
}
#volumeButton:hover {
  color: blue;
}
#volumeSlider {
  display: flex;
  align-items: center;
}
#time {
  display: flex;
  width: 240px;
  margin-left: 30px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.MuiSlider-root.Mui-disabled {
  color: black;
}
