#bigContainer {
  width: 900px;
  height: calc(100vh - 12px);
  box-sizing: border-box;
  background: wheat;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}
#bigContainer::-webkit-scrollbar {
  display: block;
  width: 5px;
}
#bigContainer::-webkit-scrollbar-track {
  display: none;
}
#bigContainer::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
#bigContainer::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
#bigContainer::-webkit-scrollbar-thumb:active {
  background: gray;
}
#inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchInput {
  padding-left: 6px;
  width: 440px;
  height: 40px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
#searchButton {
  display: flex;
  align-items: center;
  height: 42px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 3px;
  font-size: 28px;
  background: white;
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
#searchDisabled {
  display: flex;
  align-items: center;
  height: 42px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 3px;
  font-size: 28px;
  background: white;
  color: lightgray;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
#bigWrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 810px;
  background: darkkhaki;
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 45px;
  /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); */
}
#funnel {
  position: relative;
  display: flex;
  width: 810px;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-self: center;
  justify-content: space-between;
  background: wheat;
}
#funnel span {
  cursor: pointer;
  padding-top: 3px;
}
.chosen {
  background: darkkhaki;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#flexContainer {
  position: sticky;
  top: 0;
  transform: translate(14px, 0%);
  display: flex;
  align-items: center;
  width: 772px;
  height: 30px;
  padding-left: 10px;
  background: bisque;
  z-index: 30;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
#selectDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  cursor: pointer;
}
#selectDiv:hover {
  color: blue !important;
}
#titleDiv {
  width: 240px;
}
#artistDiv {
  width: 240px;
}
#infoDiv {
  width: 90px;
}
#playDiv {
  width: 90px;
}
#emptyArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#selectedMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 5px;
  bottom: 30px;
  left: 50%;
  transform: translate(125px, 0%);
  background: cornflowerblue;
}
#selectedLength {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  left: 10px;
  top: -23px;
  color: white;
  font-size: 18px;
  background: blue;
}
#addToButtonWhite {
  font-size: 50px;
  color: white;
  cursor: pointer;
}
#addToButtonWhite:hover {
  font-size: 50px;
  color: black;
}
#addToButtonBlack {
  font-size: 50px;
  color: black;
}
#wrapper {
  position: relative;
}
#results {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  left: 50px;
  bottom: 0px;
  border: 4px solid lightskyblue;
  border-radius: 10px;
  background: lavender;
  overflow: auto;
}
.result {
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid lightskyblue;
  font-size: 18px;
}
#addButton {
  position: fixed;
  bottom: 3vh;
  right: 13vw;
  color: white;
  background: violet;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
#addButton:hover {
  color: black;
}
