#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 900px;
  grid-template-rows: 300px 1fr;
  text-align: center;
  justify-content: center;
  user-select: none;
}
#player {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #37474f;
}
#playlists {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #455a64;
}
#mainContent {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: rgb(73, 81, 107);
}
